// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Open Sans",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji" !default;
$font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem !default;
$font-size-sm: 0.875rem !default;
$font-size-xs: 0.75rem !default;

$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: 3.2rem !default;
$h2-font-size: 2.4rem !default;
$h3-font-size: 2.0rem !default;
$h4-font-size: 1.7rem !default;
$h5-font-size: 1.2rem !default;
$h6-font-size: 1rem !default;

// $headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: "Open Sans" !default;
$headings-font-weight: 300 !default;
$headings-line-height: 1.5 !default;
$headings-color: inherit !default;

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;
